<h3>红色对象目标列表</h3>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">红色对象目标列表</div>
	</div>
	<div class="panel-body">
		<div class="col-lg-4">
			<a href="/red_obj/create" class="btn btn-success"><i class="fa fa-fw fa-plus"></i>新增红色对象目标</a>
		</div>
		<div class="col-lg-offset-4 col-lg-4 text-right">
			<div class="input-group">
				<input type="text" class="form-control" name="name"></input>
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button"><i class="fa fa-fw fa-search"></i>检索</button>
				</span>
			</div>
		</div>
		<hr>
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th></th>
					<th>序号</th>
					<th>名称</th>
					<th>编号</th>
					<th>注释</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>